/* css styles */
@font-face {
    font-family: "KH Dot Hibiya 24";
    src: url(fonts/KH-Dot-Hibiya-24.ttf);
}
@font-face {
    font-family: "KH Dot Kabutochou 16";
    src: url(fonts/KH-Dot-Kabutochou-16.ttf);
}
@font-face {
    font-family: "KH Dot kagurazaka 16";
    src: url(fonts/KH-Dot-Kagurazaka-16.ttf);
}
@font-face {
    font-family: "VCR OSD Mono";
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}

body{
    font-family: "VCR OSD Mono";
}

.quarto-title-banner{
    margin: 0;
    padding: 20px 0;
    text-align: center;
    background-color: #060606;
}

.quarto-title-meta{
    padding-top: 15px;
}

.quarto-post{
    padding: 15px;
    margin: 15px;
}

.quarto-categories{
    justify-content: center;
}

.quarto-title-meta-heading{
    text-align: center;
}
    
.quarto-title-meta-contents{
    text-align: center;

}

.navbar{
    background: linear-gradient(270deg,#3d3e3d 0%, #06060600 30%);
    padding: 0;
}

.navbar-title{
    font-family: "KH Dot Hibiya 24";
    font-size: 2rem;
}

.content{
    padding: 25px;
    border-radius: 5px;
}

.listing-actions-group{
    margin-top: 20px;
}

.title{
    font-weight: lighter;
}

.thumbnail-image{
    display: none;
}

.no-external{
    font-family: "KH Dot kagurazaka 16";
    text-align: right;
}

.listing-author{
    display: none;
}

.aa-DetachedOverlay{
    background-color: #060606c5;;
}

.aa-DetachedContainer{
    border: none;
    box-shadow: 0 0 15px 5px rgba(61, 62, 61, 0.726);
}

code{
    font-family: "KH Dot kagurazaka 16";
}